/* Navbar */
.navbar-custom{
	background: transparent;
}
.navbar-nav>li>a{
	color: #009b96;
}

/* Footer */
footer{
	color: #4c4c4c;
}
footer p{
	padding: 50px 0px 50px 0px;
	text-align: center;
}
footer p a{
	color: #009b96;
}